* {
    font-family: 'Crimson Text', serif;
    color: #80cbc4 
}

#buttOne, #buttTwo, #buttThree, #buttFour, #buttFive, #buttSix, #buttSeven, #buttEight {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100px;
    height: 30px;
}

.container {
    border-radius: 10px;
}