* {
    font-family: 'Crimson Text', serif;
    color: #80cbc4 
}

.buttz {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100px;
    height: 30px;
    background-color: #80cbc4;
    color: black;
}

#startTimer {
    background-color: #80cbc4;
    color: black;
}

.container {
    border-radius: 10px;
}